{% for type, messages in app.flashes %}
	{% for message in messages %}
		{% if type == 'error' %}
			<div class="alert alert-danger">{{ message }}</div>
		{% elseif type == 'success' %}
			<div class="alert alert-success">{{ message }}</div>
		{% elseif type == 'warning' %}
			<div class="alert alert-warning">{{ message }}</div>
		{% else %}
			<div class="alert alert-info">{{ message }}</div>
		{% endif %}
	{% endfor %}
{% endfor %}
