
/////////////////////////////////////////////////////////////////////////////////////
//                                  couleurs ANSM                                  //
/////////////////////////////////////////////////////////////////////////////////////

$ANSM_vert_fonce: #048F36;
$ANSM_vert_clair: #B0C700;
$ANSM_violet: #5C2978;
$ANSM_gris_clair: #EAEAEA;
$ANSM_gris_fonce: #999999;
$fond_susar_eu_detail: #FBFDBB;
$Tab_vert_clair: #9CFFA2;
$Tab_rouge_clair: #FFB8AE;
$Entourage_susar: #604C78;
$Fond_liste_susar: #FCE6D4;
$Fond_eval_susar: #FFE1DD;


