
/////////////////////////////////////////////////////////////////////////////////////
//                                  couleurs ANSM                                  //
/////////////////////////////////////////////////////////////////////////////////////

$ANSM_vert_fonce: #048F36;
$ANSM_vert_clair: #B0C700;
$ANSM_violet: #5C2978;
$ANSM_gris_clair: #EAEAEA;
$ANSM_gris_fonce: #999999;



$fond_susar_eu_detail: #FBFDBB;
$fond_susar_eu_detail_susar_v1: #FFB6C1;
$Tab_vert_clair: #9CFFA2;
$Tab_rouge_clair: #FFB8AE;
$Entourage_susar: #604C78;
$Fond_liste_susar: #FCE6D4;
$Fond_eval_susar: #FFE1DD;
$Fond_chp_lst_eval_susar: #E5E5E2;
$Form_vert_clair: #D2FFD5;
$Form_rouge_clair: #FFB8AE;
// $Ctnr_tab_violet_clair: #D9C7FD;
// // $Ctnr_tab_violet_fonce: #EEE6FE;
// $Ctnr_tab_violet_fonce: #be9eff;
$Ctnr_tab_violet_clair: #e0d2ff;
$Ctnr_tab_violet_fonce: #d2bbff;
$Ctnr_tab_rouge_clair: #FFB6C1;
// $Ctnr_tab_rouge_fonce: #FF7F7F;
$Ctnr_tab_rouge_fonce: #F79F9F;
$Tab_lst_susar_bordure: #868686;
$Tab_lst_susar_bckgrd_sticky_col: rgba(255, 255, 255, 0.9);
$Tab_lst_susar_bckgrd_slidy_col: rgb(201, 201, 201);