// @import '_variables.scss';
@use '_variables' as *;

.page_liste_int-sub-dmm {
  font-size: 0.8rem; /* Réduit la taille de la police à 90% de la taille par défaut */
//   background-color: $Fond_liste_susar;
}