// @import '_variables.scss';
@use '_variables' as *;

// body {
//   background-color: $Fond_eval_susar;
// }
// html, body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.asso-sub-low-level {
    border: 1px solid $ANSM_violet;
    background-color: $Fond_liste_susar;
    padding: 10px;
    margin: 5px;
}

ul, ol, li {
  list-style-type: none;
}

// #form-bg.vert-clair {
//   background-color: $Form_vert_clair;
// }

// #form-bg.rouge-clair {
//   background-color: $Form_rouge_clair;
// }

.vert-clair {
  background-color: $Form_vert_clair;
}

.rouge-clair {
  background-color: $Form_rouge_clair;
}

.susar-flex-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.susar-table-container {
  flex: 0 0 30%;
  max-width: 30%;
}

.susar-graph-container {
  flex: 1 1 70%;
  max-width: 70%;
}

.susar-titre {
  margin-top: 5px;
  margin-bottom: 5px;
}


.table-sm-custom tr, .table-sm-custom td, .table-sm-custom th {
  height: 20px; // hauteur réduite des lignes
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.90rem;
}