// @import '_variables.scss';
@use "_variables" as *;
// @import 'mixins';
@use "mixins" as m;

// .rech_susar {
//   font-size: 0.8rem; /* Réduit la taille de la police à 90% de la taille par défaut */
//   background-color: $Fond_liste_susar;
// }

/********************************/
/*** container liste susar_eu ***/
/********************************/

.container_rech_susar_eu_haut {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  // gap: 0px 0px;
  gap: 0.1em 0; // 0.5em vertical, 0 horizontal (ajuste selon besoin)
  grid-template-areas:
    "rech-titre_att rech-titre_att . rech-titre_eva rech-titre_eva . rech-titre_ess rech-titre_ess"
    "rech-lib_ref rech-chp_ref . rech-lib_castrt rech-chp_castrt . rech-lib_euct rech-chp_euct"
    "rech-lib_dmm rech-chp_dmm . rech-lib_evalpar rech-chp_evalpar . rech-lib_ssn rech-chp_ssn"
    ". . . rech-lib_concl rech-chp_concl . rech-lib_pays rech-chp_pays"
    "rech-titre_niv rech-titre_niv . rech-titre_car rech-titre_car . rech-titre_per rech-titre_per"
    ". rech-susar-niv1 . rech-lib_sa rech-chp_sa . rech-lib_dgd rech-chp_dgd"
    ". rech-susar-niv2a . rech-lib_pt rech-chp_pt . rech-lib_fgd rech-chp_fgd"
    ". rech-susar-niv2b . rech-lib_idsusar rech-chp_idsusar . rech-lib_ddi rech-chp_ddi"
    ". rech-susar-niv2c . rech-lib_wwid rech-chp_wwid . rech-lib_fdi rech-chp_fdi"

  ;
  // grid-template-areas:
  //   "rech-titre_att rech-titre_att . rech-titre_eva rech-titre_eva . rech-titre_ess rech-titre_ess"
  //   "rech-lib_ref rech-chp_ref . rech-lib_castrt rech-chp_castrt . rech-lib_euct rech-chp_euct"
  //   "rech-lib_dmm rech-chp_dmm . rech-lib_evalpar rech-chp_evalpar . rech-lib_ssn rech-chp_ssn"
  //   ". . . rech-lib_concl rech-chp_concl . rech-lib_pays rech-chp_pays"
  //   "rech-titre_niv rech-titre_niv . rech-titre_car rech-titre_car . rech-titre_per rech-titre_per"
  //   ". rech-susar-niv1 . rech-lib_sa rech-chp_sa . rech-lib_dgd rech-chp_dgd"
  //   ". rech-susar-niv2a . rech-lib_pt rech-chp_pt . rech-lib_fgd rech-chp_fgd"
  //   ". rech-susar-niv2b . rech-lib_idsusar rech-chp_idsusar . rech-lib_ddi rech-chp_ddi"
  //   ". rech-susar-niv2c . rech-lib_wwid rech-chp_wwid . rech-lib_fdi rech-chp_fdi"
  //   "rech-titre_spe rech-titre_spe . . . . . ."
  //   "rech-lib_sams rech-chp_sams . . rech-chp_rech . . ."
  //   "rech-lib_pop rech-chp_pop . . . . rech-chp_reset ."
  //   "rech-lib_euro rech-chp_euro . . rech-chp_excel . . ."
  //   "rech-lib_dme rech-chp_dme . . . . . ."
  //   "rech-lib_ime rech-chp_ime . . . . . ."
  //   "rech-lib_narr rech-chp_narr . . . rech-lib_arch rech-chp_arch rech-chp_arch"
  // ;
}


.container_rech_susar_eu_bas {
  display: flex;
  justify-content: space-between; // Ensures space between the two flex items

  // .container_rech_susar_eu_gauche,
  // .container_rech_susar_eu_droite {
  //   display: flex;
  //   flex-direction: column; // Ensures the content inside remains in a column layout
  // }

  .container_rech_susar_eu_gauche {
    width: 25%;
  }

  .container_rech_susar_eu_droite {
    width: 75%;
    align-self: flex-end;
    padding-right: 2em;
    padding-left: 2em;
  }
}



.container_rech_susar_eu_gauche {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  // gap: 0px 0px;
  gap: 0.1em 0; // 0.5em vertical, 0 horizontal (ajuste selon besoin)
  grid-template-areas:
    "rech-titre_spe rech-titre_spe"
    "rech-lib_sams rech-chp_sams"
    "rech-lib_pop rech-chp_pop"
    "rech-lib_euro rech-chp_euro"
    "rech-lib_dme rech-chp_dme"
    "rech-lib_ime rech-chp_ime"
    "rech-lib_narr rech-chp_narr"
  ;
}

.container_rech_susar_eu_droite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  // gap: 0px 0px;
  gap: 1em 0; // 0.5em vertical, 0 horizontal (ajuste selon besoin)

  grid-template-areas:
    ". rech-chp_rech rech-chp_excel rech-chp_reset"
    "rech-lib_arch rech-lib_arch rech-chp_arch rech-chp_arch"
  ;
}

// Attribution
.rech-titre_att {
  @include m.rech-susar-titre(rech-titre_att);
}

.rech-lib_ref {
  @include m.rech-susar-lib(rech-lib_ref);
}

.rech-chp_ref {
  @include m.rech-susar-chp(rech-chp_ref);
}

.rech-lib_dmm {
  @include m.rech-susar-lib(rech-lib_dmm);
}

.rech-chp_dmm {
  @include m.rech-susar-chp(rech-chp_dmm);
}


// Evaluation
.rech-titre_eva {
  @include m.rech-susar-titre(rech-titre_eva);
}

.rech-lib_castrt {
  @include m.rech-susar-lib(rech-lib_castrt);
}
.rech-chp_castrt {
  @include m.rech-susar-chp(rech-chp_castrt);
}

.rech-lib_evalpar {
  @include m.rech-susar-lib(rech-lib_evalpar);
}
.rech-chp_evalpar {
  @include m.rech-susar-chp(rech-chp_evalpar);
}

.rech-lib_concl {
  @include m.rech-susar-lib(rech-lib_concl);
}
.rech-chp_concl {
  @include m.rech-susar-chp(rech-chp_concl);
}

// Essai concerné
.rech-titre_ess {
  @include m.rech-susar-titre(rech-titre_ess);
}

.rech-lib_euct {
  @include m.rech-susar-lib(rech-lib_euct);
}
.rech-chp_euct {
  @include m.rech-susar-chp(rech-chp_euct);
}

.rech-lib_ssn {
  @include m.rech-susar-lib(rech-lib_ssn);
}
.rech-chp_ssn {
  @include m.rech-susar-chp(rech-chp_ssn);
}

.rech-lib_pays {
  @include m.rech-susar-lib(rech-lib_pays);
}
.rech-chp_pays {
  @include m.rech-susar-chp(rech-chp_pays);
}

// Niveau de classification
.rech-titre_niv {
  @include m.rech-susar-titre(rech-titre_niv);
}
.rech-susar-niv1 {
  grid-area: rech-susar-niv1;
  // background: #ffe;
}
.rech-susar-niv2a {
  grid-area: rech-susar-niv2a;
  // background: #efe;
}
.rech-susar-niv2b {
    grid-area: rech-susar-niv2b;
    // background: #eef;
}
.rech-susar-niv2c {
    grid-area: rech-susar-niv2c;
    // background: #fee;
}


// Caractéristiques
.rech-titre_car {
  @include m.rech-susar-titre(rech-titre_car);
}


.rech-lib_sa {
  @include m.rech-susar-lib(rech-lib_sa);
}
.rech-chp_sa {
  @include m.rech-susar-chp(rech-chp_sa);
}

.rech-lib_pt {
  @include m.rech-susar-lib(rech-lib_pt);
}
.rech-chp_pt {
  @include m.rech-susar-chp(rech-chp_pt);
}

.rech-lib_idsusar {
  @include m.rech-susar-lib(rech-lib_idsusar);
}
.rech-chp_idsusar {
  @include m.rech-susar-chp(rech-chp_idsusar);
}

.rech-lib_wwid {
  @include m.rech-susar-lib(rech-lib_wwid);
}
.rech-chp_wwid {
  @include m.rech-susar-chp(rech-chp_wwid);
}








// Période
.rech-titre_per {
  @include m.rech-susar-titre(rech-titre_per);
}


.rech-lib_dgd {
  @include m.rech-susar-lib(rech-lib_dgd);
}
.rech-chp_dgd {
  @include m.rech-susar-chp(rech-chp_dgd);
}

.rech-lib_fgd {
  @include m.rech-susar-lib(rech-lib_fgd);
}
.rech-chp_fgd {
  @include m.rech-susar-chp(rech-chp_fgd);
}

.rech-lib_ddi {
  @include m.rech-susar-lib(rech-lib_ddi);
}
.rech-chp_ddi {
  @include m.rech-susar-chp(rech-chp_ddi);
}

.rech-lib_fdi {
  @include m.rech-susar-lib(rech-lib_fdi);
}
.rech-chp_fdi {
  @include m.rech-susar-chp(rech-chp_fdi);
}









// Spécificités
.rech-titre_spe {
  @include m.rech-susar-titre(rech-titre_spe);
}


.rech-lib_sams {
  @include m.rech-susar-lib(rech-lib_sams);
}
.rech-chp_sams {
  @include m.rech-susar-chp(rech-chp_sams);
}

.rech-lib_pop {
  @include m.rech-susar-lib(rech-lib_pop);
}
.rech-chp_pop {
  @include m.rech-susar-chp(rech-chp_pop);
}

.rech-lib_euro {
  @include m.rech-susar-lib(rech-lib_euro);
}
.rech-chp_euro {
  @include m.rech-susar-chp(rech-chp_euro);
}

.rech-lib_dme {
  @include m.rech-susar-lib(rech-lib_dme);
}
.rech-chp_dme {
  @include m.rech-susar-chp(rech-chp_dme);
}

.rech-lib_ime {
  @include m.rech-susar-lib(rech-lib_ime);
}
.rech-chp_ime {
  @include m.rech-susar-chp(rech-chp_ime);
}

.rech-lib_narr {
  @include m.rech-susar-lib(rech-lib_narr);
}
.rech-chp_narr {
  @include m.rech-susar-chp(rech-chp_narr);
}




// Boutons

.rech-chp_rech {
  grid-area: rech-chp_rech;
}
.rech-chp_excel {
  grid-area: rech-chp_excel;
}
.rech-chp_reset {
  grid-area: rech-chp_reset;
}

// Cas archivés

.rech-lib_arch {
  @include m.rech-susar-lib(rech-lib_arch);
  padding-right:5%;
  text-align: right;          // Pour le texte
  justify-content: flex-end;  // Pour Flexbox

}
.rech-chp_arch {
  @include m.rech-susar-chp(rech-chp_arch);
}

// réduction de la hauteur des différents champs
.container_rech_susar_eu input:not([type="checkbox"]),
.container_rech_susar_eu select,
.container_rech_susar_eu textarea {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  height: 2.2em; // ajuste selon besoin
  font-size: 1em;
}

.container_rech_susar_eu label,
.chbx_niv_form_row {
  margin-bottom: 0.1em;
  padding: 0;
  font-size: 1em;
}