// @import '_variables.scss';
@use '_variables' as *;

.bg-susar-v1 {
  background-color: $fond_susar_eu_detail_susar_v1;
}
.bg-susar-v2 {
  background-color: $fond_susar_eu_detail;
}

.tab_susar_eu_dtl{
  border-collapse: collapse;

  & > * {
    border: 1px solid #ccc;
    padding: 8px;
  }
}

.chp_susar_eu_dtl {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}


.chp_narr_dtl {
max-height: 200px;
overflow: auto;
}

.tab_eval {
  background-color: orange;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eval_lib {
  margin: 10px;
}
