// @import '_variables.scss';
@use "_variables" as *;
// @import 'mixins';
@use "mixins" as m;

.page_liste_susar {
  font-size: 0.8rem; /* Réduit la taille de la police à 90% de la taille par défaut */
  background-color: $Fond_liste_susar;
}

/******************************************/
/* Tableau des cases à cocher des niveaux */
/******************************************/

.chbx_niv_tableau {
  border-collapse: collapse;
  border: 2px solid #ccc; /* Liseré autour du tableau */
}
.chbx_niv_header {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid #ccc; /* Séparation entre l'en-tête et le corps du tableau */
}
.chbx_niv_cell {
  padding: 8px;
  border: 1px solid #ccc; /* Lignes internes du tableau */
  vertical-align: middle; /* Centre verticalement le contenu de la cellule */
  height: 40px; /* Hauteur fixe pour toutes les cellules, ajustez selon vos besoins */
}
.chbx_niv_cell label {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: middle; /* Aligne verticalement le label avec la case à cocher */
}
/* Style pour aligner la case à cocher avec le label */
.chbx_niv_cell input[type="checkbox"] {
  vertical-align: middle;
  margin: 0;
}
/* Wrapper pour le contenu de la cellule */
.chbx_niv_contenu {
  display: flex;
  align-items: center;
    justify-content: space-between; /* Ajoute un espacement entre les éléments */
    gap: 5px; /* Ajoute un espacement entre le label et la case à cocher */
  // height: 100%;
  // padding: 5px;
}
/* Ajoutez ces styles pour réinitialiser les marges et paddings des éléments du formulaire */
.chbx_niv_contenu .form-group {
  margin: 0;
  padding: 0;
}
.chbx_niv_form_row {
  margin: 0;
  padding: 0;
}
.chbx_niv_form_row .form-check {
  margin: 0;
  padding: 0;
}
/******************** Fin du tableau des cases à cocher de niveau **********************/

// pour avoir une ligne colorée sur deux dans les tableaux
.container-tab {
  > div {
    &:nth-child(even) {
      &.susar-v2 {
        background: $Ctnr_tab_violet_clair;
      }
      &.susar-v1 {
        background: $Ctnr_tab_rouge_clair;
      }
    }
    &:nth-child(odd) {
      &.susar-v2 {
        background: $Ctnr_tab_violet_fonce;
      }
      &.susar-v1 {
        background: $Ctnr_tab_rouge_fonce;
      }
    }
  }
}

.ligne_susar {
  display: flex;
  padding: 2px;
  border: 5px solid $Entourage_susar;
  border-radius: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cell_tab {
  padding: 2px;
  border: 2px solid blue;
}

/********************************/
/*** container liste susar_eu ***/
/********************************/


.container_susar_eu {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    "container_susar_eu_haut container_susar_eu_haut"
    "container_susar_eu_gauche container_susar_eu_droite"
    "container_susar_eu_bas container_susar_eu_bas"; 
}


.container_susar_eu_haut {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3em 3em 3em;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "NumEUDRA_CT_lib NumEUDRA_CT Sender_lib Sender PaysSurvenue_lib PaysSurvenue seriousness_lib Prio_lib Prio SamsMono_lib SamsMono id_susar_lib id_susar"
    "population_lib population sex_lib sex age_lib age seriousness Eval_lib Eval DMM_lib DMM Pole_lib Pole"
    "DtGateway_lib DtGateway CaseVersion_lib CaseVersion WW_id_lib WW_id . . . . . . .";
  grid-area: container_susar_eu_haut;
  border: 1px solid #8f8f8f;
  
  /* Centrage vertical */
  align-items: center;
}

.container_susar_eu_gauche {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2em 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tab_suspect_drug tab_suspect_drug tab_suspect_drug tab_suspect_drug tab_suspect_drug tab_suspect_drug"
    "tab_reaction_PT tab_reaction_PT tab_reaction_PT tab_reaction_PT tab_reaction_PT tab_reaction_PT"
    ". btn-toggle-MedHist btn-toggle-MedHist btn-toggle-MedHist btn-toggle-MedHist ."
    "tab_med_hist tab_med_hist tab_med_hist tab_med_hist tab_med_hist tab_med_hist";
  grid-area: container_susar_eu_gauche;
  border: 1px solid #8f8f8f;
}


.container_susar_eu_droite {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 2em 1fr 2em 2em 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "ConcluCas_lib ConcluCas ConcluCas ConcluCas btn-FU ."
    "CommentConclu_lib . EvaluateurCas_lib EvaluateurCas DtEval_lib DtEval"
    "CommentConclu CommentConclu CommentConclu CommentConclu CommentConclu CommentConclu"
    "CommentConclu CommentConclu CommentConclu CommentConclu CommentConclu CommentConclu"
    ". btn-DetEval . . btn-AWA .";
  grid-area: container_susar_eu_droite;
  border: 1px solid #8f8f8f;
  align-items: center;
  padding: 10px;
}


.container_susar_eu_bas {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2em 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "narratif_lib narratif_lib . lienICSR_lib lienICSR . . . . . . . ."
    "narratif narratif narratif narratif narratif narratif narratif narratif narratif narratif narratif narratif narratif";
  grid-area: container_susar_eu_bas;
  border: 1px solid #8f8f8f;
}


.NumEUDRA_CT_lib {
  @include m.lst-susar-lib(NumEUDRA_CT_lib);
}
.NumEUDRA_CT {
  @include m.lst-susar-contenu-scroll(NumEUDRA_CT, 3em);
}

.Sender_lib {
  @include m.lst-susar-lib(Sender_lib);
}
.Sender {
  // @include m.lst-susar-contenu(Sender);
  @include m.lst-susar-contenu-scroll(Sender, 3em);
}

.PaysSurvenue_lib {
  @include m.lst-susar-lib(PaysSurvenue_lib);
}
.PaysSurvenue {
  // @include m.lst-susar-contenu(PaysSurvenue);
  @include m.lst-susar-contenu-scroll(PaysSurvenue, 3em);
}

.seriousness_lib {
  @include m.lst-susar-lib(seriousness_lib);
}
.seriousness {
  // @include m.lst-susar-contenu(seriousness);
  @include m.lst-susar-contenu-scroll(seriousness, 3em);
}

.Prio_lib {
  @include m.lst-susar-lib(Prio_lib);
}
.Prio {
  // @include m.lst-susar-contenu(Prio);
  @include m.lst-susar-contenu-scroll(Prio, 3em);
}

.SamsMono_lib {
  @include m.lst-susar-lib(SamsMono_lib);
}
.SamsMono {
  // @include m.lst-susar-contenu(SamsMono);
  @include m.lst-susar-contenu-scroll(SamsMono, 3em);
}

.id_susar_lib {
  @include m.lst-susar-lib(id_susar_lib);
}
.id_susar {
  // @include m.lst-susar-contenu(id_susar);
  @include m.lst-susar-contenu-scroll(id_susar, 3em);
}

.population_lib {
  @include m.lst-susar-lib(population_lib);
}  
.population {
  @include m.lst-susar-contenu(population);
}  

.age_lib {
  @include m.lst-susar-lib(age_lib);
}  
.age {
  @include m.lst-susar-contenu(age);
}  

.sex_lib {
  @include m.lst-susar-lib(sex_lib);
}  
.sex {
  @include m.lst-susar-contenu(sex);
}  

.Eval_lib {
  @include m.lst-susar-lib(Eval_lib);
}
.Eval {
  @include m.lst-susar-contenu(Eval);
}

.DMM_lib {
  @include m.lst-susar-lib(DMM_lib);
}
.DMM {
  @include m.lst-susar-contenu(DMM);
}

.Pole_lib {
  @include m.lst-susar-lib(Pole_lib);
}
.Pole {
  @include m.lst-susar-contenu(Pole);
}

.DtGateway_lib {
  @include m.lst-susar-lib(DtGateway_lib);
}
.DtGateway {
  // @include m.lst-susar-contenu(DtGateway);
  @include m.lst-susar-contenu-scroll(DtGateway, 3em);
}

.CaseVersion_lib {
  @include m.lst-susar-lib(CaseVersion_lib);
}
.CaseVersion {
  // @include m.lst-susar-contenu(CaseVersion);
  @include m.lst-susar-contenu-scroll(CaseVersion, 3em);
}

.WW_id_lib {
  @include m.lst-susar-lib(WW_id_lib);
}
.WW_id {
  // @include m.lst-susar-grid-droite-contenu(WW_id);
  @include m.lst-susar-contenu-scroll(WW_id, 3em);
}

.tab_suspect_drug {
  @include m.tab_PT_medHist(tab_suspect_drug);
  // grid-area: tab_suspect_drug;
  // border: 1px solid #8f8f8f;
  // min-height: 5em; /* Hauteur minimale de 5em */
  // max-height: 10em; /* Hauteur maximale de 5 caractères */
  // overflow-y: auto; /* Scroller vertical si le contenu dépasse */
}

.tab_reaction_PT {
  @include m.tab_PT_medHist(tab_reaction_PT);
  // grid-area: tab_reaction_PT;
  // border: 1px solid #8f8f8f;
  // min-height: 5em; /* Hauteur minimale de 5em */
  // max-height: 10em; /* Hauteur maximale de 5 caractères */
  // overflow-y: auto; /* Scroller vertical si le contenu dépasse */
}

.tab_med_hist {
  @include m.tab_PT_medHist(tab_med_hist);
  // grid-area: tab_med_hist;
  // border: 1px solid #8f8f8f;
  // min-height: 5em; /* Hauteur minimale de 5em */
  // max-height: 10em; /* Hauteur maximale de 5 caractères */
  // overflow-y: auto; /* Scroller vertical si le contenu dépasse */
  // // line-height: 1em; /* Assure que chaque ligne occupe 1em */
}

.ConcluCas_lib {
  @include m.lst-susar-grid-droite-lib(ConcluCas_lib);
}
.ConcluCas {
  // @include m.lst-susar-grid-droite-contenu(ConcluCas);
  @include m.lst-susar-contenu-scroll(ConcluCas, 3em);
}

.DtEval_lib {
  @include m.lst-susar-grid-droite-lib(DtEval_lib);
}
.DtEval {
  // @include m.lst-susar-grid-droite-contenu(DtEval);
  @include m.lst-susar-contenu-scroll(DtEval, 3em);
}
.EvaluateurCas_lib {
  @include m.lst-susar-grid-droite-lib(EvaluateurCas_lib);
}
.EvaluateurCas {
  // @include m.lst-susar-grid-droite-contenu(EvaluateurCas);
  @include m.lst-susar-contenu-scroll(EvaluateurCas, 3em);
}

.CommentConclu_lib {
  @include m.lst-susar-grid-droite-lib(CommentConclu_lib);
}
.CommentConclu {
  @include m.lst-susar-grid-droite-contenu(CommentConclu);
  min-height: 3em;
  padding-left: 1%;
  // padding-inline-start: 3%;
}

.lienICSR_lib {
  @include m.lst-susar-grid-droite-lib(lienICSR_lib);
}
.lienICSR {
  @include m.lst-susar-grid-droite-contenu(lienICSR);
}

.narratif_lib {
  @include m.lst-susar-grid-gauche-lib(narratif_lib);
}

.narratif_big {
  @include m.lst-susar-grid-droite-contenu(narratif);
  height: 20em; /* On fixe la hauteur à 5 fois la hauteur d'une ligne de texte */
  overflow-y: auto; /* Affichage un ascenseur vertical si le contenu dépasse la hauteur */
  padding: 1%;
}
/******************************************************************/
/*** tables médicament, effet indésirable, antécédents médicaux ***/
/******************************************************************/
.table-sticky {
    overflow-x: auto; /* Permet le défilement horizontal */
    display: block; /* Nécessaire pour activer le scroll */
    max-width: 100%; /* Limite la largeur du tableau */
    table-layout: fixed; /* Force les colonnes à avoir une largeur fixe */
}

.table-sticky th,
.table-sticky td {
    white-space: nowrap; /* Empêche le contenu de passer à la ligne */
    // white-space: normal; /* Permet le retour à la ligne pour éviter les débordements */
    // min-width: 150px;
    overflow: hidden; /* Masque le contenu qui dépasse */
    text-overflow: ellipsis; /* Ajoute "..." pour indiquer que le texte est tronqué */
    max-width: 40ch; /* Limite la largeur à environ 40 caractères */
    word-wrap: break-word; /* Coupe les mots trop longs pour éviter qu'ils débordent */
    padding: 8px 12px; /* Ajoute un espacement interne (padding) */
    text-align: left; /* Aligne le texte à gauche (optionnel) */
    border: 1px solid #868686; /* Ajoute une bordure pour mieux séparer les colonnes */
    padding: 4px 8px; /* Réduit le padding interne (haut/bas : 4px, gauche/droite : 8px) */
    font-size: 0.85rem; /* Réduit la taille de la police */
    line-height: 1.2; /* Ajuste l'espacement vertical du texte */
}
.table-sticky tr {
    min-height: 1.5rem; /* Définit une hauteur minimale pour les lignes */
}
.sticky-column {
    position: sticky;
    left: 0; /* Fixe la colonne à gauche */
    z-index: 2; /* Assure que la colonne reste au-dessus des autres */
    background: rgba(255, 255, 255, 0.95); /* Ajoute un fond pour la colonne sticky */
    border-right: 1px solid #868686; /* Ajoute une bordure pour séparer la colonne */
}









/**********************/
/*** grid de gauche ***/
/**********************/
.suspectDrug_lib {
  @include m.lst-susar-grid-gauche-lib(suspectDrug_lib);
}  
.suspectDrug {
  @include m.lst-susar-grid-gauche-contenu-tbl(suspectDrug);
}  

.PT_outcome_lib {
  @include m.lst-susar-grid-gauche-lib(PT_outcome_lib);
}  
.PT_outcome {
  @include m.lst-susar-grid-gauche-contenu-trbl(PT_outcome);
}  

.indication_lib {
  @include m.lst-susar-grid-gauche-lib(indication_lib);
}  
.indication {
  @include m.lst-susar-grid-gauche-contenu-trbl(indication);
}  

.medicalHistory_lib {
  @include m.lst-susar-grid-gauche-lib(medicalHistory_lib);
}  
.medicalHistory {
  @include m.lst-susar-grid-gauche-contenu-trbl(medicalHistory);
}  

/**********************/
/*** grid de droite ***/
/**********************/

.idSusar {
  grid-area: idSusar;
  text-align: right;
  color: gray;
  font-size: 0.8em;
}  






.numBNPV_lib {
  @include m.lst-susar-grid-droite-lib(numBNPV_lib);
}
.numBNPV {
  @include m.lst-susar-grid-droite-contenu(numBNPV);
}

.FU_BNPV_lib {
  @include m.lst-susar-grid-droite-lib(FU_BNPV_lib);
}
.FU_BNPV {
  @include m.lst-susar-grid-droite-contenu(FU_BNPV);
}

.DMM_Pole_lib {
  @include m.lst-susar-grid-droite-lib(DMM_Pole_lib);
}
.DMM_Pole {
  @include m.lst-susar-grid-droite-contenu(DMM_Pole);
}

.DtAiguil_lib {
  @include m.lst-susar-grid-droite-lib(DtAiguil_lib);
}
.DtAiguil {
  @include m.lst-susar-grid-droite-contenu(DtAiguil);
}

.SponsStudyNum_lib {
  @include m.lst-susar-grid-droite-lib(SponsStudyNum_lib);
}
.SponsStudyNum {
  @include m.lst-susar-grid-droite-contenu(SponsStudyNum);
}

.StudyTittle_lib {
  @include m.lst-susar-grid-droite-lib(StudyTittle_lib);
}
.StudyTittle {
  @include m.lst-susar-grid-droite-contenu(StudyTittle);
}

.narratif {
  @include m.lst-susar-grid-droite-contenu(narratif);
  height: 6em; /* On fixe la hauteur à 5 fois la hauteur d'une ligne de texte */
  overflow-y: auto; /* Affichage un ascenseur vertical si le contenu dépasse la hauteur */
}

/**********************/
/****** boutons *******/
/**********************/
.btn-FU {
  grid-area: btn-FU;
}

.btn-AWA {
  grid-area: btn-AWA;
}

.btn-DetEval {
  grid-area: btn-DetEval;
}

.btn-toggle-MedHist {
  grid-area: btn-toggle-MedHist;
  display: flex; /* Active Flexbox */
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu (optionnel) */
  height: 100%; /* Assure que le bouton occupe toute la hauteur disponible */
}

.btn-gray {
  background-color: #cccccc;
  color: #333333;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-gray:hover {
  background-color: #aaaaaa;
}

.btn-access {
  background-color: #d3d3d3;
  color: #000000;
  border: 1px solid #808080;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #808080;
}

.btn-access:hover {
  background-color: #e3e3e3;
}

.btn-access:active {
  background-color: #c3c3c3;
  box-shadow: 0px 0px 0px #808080;
}
