@import '_variables.scss';




html, body {
    background: $fond_susar_eu_detail
  }

// .container_susar_eu_dtl{
//     background: $fond_susar_eu_detail
// }

.tab_susar_eu_dtl{
  border-collapse: collapse;

  & > * {
    // border: 1px solid black;
    border: 1px solid #ccc;
    padding: 8px;
  }
}

.chp_susar_eu_dtl {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}


.chp_narr_dtl {
max-height: 200px;
overflow: auto;
}