// @import '_variables.scss';
@use "_variables" as *;
// @import 'mixins';
@use "mixins" as m;

.page_liste_susar {
  background-color: $Fond_liste_susar;
}

/******************************************/
/* Tableau des cases à cocher des niveaux */
/******************************************/

.chbx_niv_tableau {
  border-collapse: collapse;
  border: 2px solid #ccc; /* Liseré autour du tableau */
}
.chbx_niv_header {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid #ccc; /* Séparation entre l'en-tête et le corps du tableau */
}
.chbx_niv_cell {
  padding: 0;
  border: 1px solid #ccc; /* Lignes internes du tableau */
  vertical-align: middle; /* Centre verticalement le contenu de la cellule */
  height: 40px; /* Hauteur fixe pour toutes les cellules, ajustez selon vos besoins */
}
.chbx_niv_cell label {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: middle; /* Aligne verticalement le label avec la case à cocher */
}
/* Style pour aligner la case à cocher avec le label */
.chbx_niv_cell input[type="checkbox"] {
  vertical-align: middle;
  margin: 0;
}
/* Wrapper pour le contenu de la cellule */
.chbx_niv_contenu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px;
}
/* Ajoutez ces styles pour réinitialiser les marges et paddings des éléments du formulaire */
.chbx_niv_contenu .form-group {
  margin: 0;
  padding: 0;
}
.chbx_niv_form_row {
  margin: 0;
  padding: 0;
}
.chbx_niv_form_row .form-check {
  margin: 0;
  padding: 0;
}
/******************** Fin du tableau des cases à cocher de niveau **********************/

// pour avoir une ligne colorée sur deux dans les tableaux
.container-tab {
  > div {
    &:nth-child(even) {
      &.susar-v2 {
        background: $Ctnr_tab_violet_clair;
      }
      &.susar-v1 {
        background: $Ctnr_tab_rouge_clair;
      }
    }
    &:nth-child(odd) {
      &.susar-v2 {
        background: $Ctnr_tab_violet_fonce;
      }
      &.susar-v1 {
        background: $Ctnr_tab_rouge_fonce;
      }
    }
  }
}

.ligne_susar {
  display: flex;
  padding: 2px;
  border: 5px solid $Entourage_susar;
  border-radius: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cell_tab {
  padding: 2px;
  border: 2px solid blue;
}

/********************************/
/*** container liste susar_eu ***/
/********************************/

.container_susar_eu {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 3em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "NumEUDRA_CT_lib NumEUDRA_CT Sender_lib Sender PaysSurvenue_lib PaysSurvenue seriousness_lib Prio_lib Prio SamsMono_lib SamsMono id_susar_lib id_susar"
    "population_lib population sex_lib sex age_lib age seriousness Eval_lib Eval DMM_lib DMM Pole_lib Pole"
    "DtGateway_lib DtGateway CaseVersion_lib CaseVersion WW_id_lib WW_id . . . . . . ."
    "tab_suspect_drug tab_suspect_drug tab_suspect_drug tab_suspect_drug tab_suspect_drug tab_suspect_drug . . . . . . ."
    "tab_reaction_PT tab_reaction_PT tab_reaction_PT tab_reaction_PT tab_reaction_PT tab_reaction_PT . . . . . . ."
    "tab_med_hist tab_med_hist tab_med_hist tab_med_hist tab_med_hist tab_med_hist . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . .";
}


/***************************/
/*** container principal ***/
/***************************/


.container_principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "container_flex_left container_flex_right"
      "container_narr container_narr";
}


.container_flex_left > div,
.container_flex_right > div {
  border-color: #aeb6bf;
  min-height: 25px;
  min-height: max-content;
}

/**********************/
/*** flex de gauche ***/
/**********************/
.container_flex_left {
  grid-area: container_flex_left;
  flex: 1; /* Prend un espace égal pour chaque div */
  min-width: 300px; /* Largeur minimale pour chaque div */
  height: 100%;
  margin: 0;
  width: 40%;
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(1fr, 4rem);
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "suspectDrug_lib . PT_outcome_lib . . ."
    "suspectDrug suspectDrug PT_outcome PT_outcome PT_outcome ."
    "seriousness_lib . indication_lib . . ."
    "seriousness seriousness indication indication indication ."
    ". . medicalHistory_lib . . ."
    ". . medicalHistory medicalHistory medicalHistory ."
    "population_lib population medicalHistory medicalHistory medicalHistory ."
    "age_lib age medicalHistory medicalHistory medicalHistory ."
    "sex_lib sex medicalHistory medicalHistory medicalHistory .";
}

/**********************/
/*** flex de droite ***/
/**********************/
.container_flex_right {
  grid-area: container_flex_right;
  flex: 1; /* Prend un espace égal pour chaque div */
  min-width: 300px; /* Largeur minimale pour chaque div */
  height: 100%;
  margin: 0;
  width: 60%;
  padding: 2px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr 1fr;
  grid-template-rows: minmax(1fr, 4rem);
  grid-auto-columns: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "btn-DetEval . FU_BNPV_lib FU_BNPV idSusar"
    "StudyTittle_lib StudyTittle StudyTittle StudyTittle ."
    "WW_id_lib WW_id WW_id WW_id ."
    "NumEUDRA_CT_lib NumEUDRA_CT SponsStudyNum_lib SponsStudyNum ."
    "DMM_Pole_lib DMM_Pole DMM_Pole DtAiguil_lib DtAiguil"
    "Prio_lib Prio . . ."
    "ConcluCas_lib ConcluCas CommentConclu_lib CommentConclu ."
    "DtEval_lib DtEval . . ."
    ". btn-FU btn-AWA . .";
}

/************************/
/*** flex du narratif ***/
/************************/
.container_narr {
  grid-area: container_narr;
  flex: 1; /* Prend un espace égal pour chaque div */
  min-width: 300px; /* Largeur minimale pour chaque div */
  height: 100%;
  margin: 0;
  width: 60%;
  padding: 2px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr 1fr;
  grid-template-rows: minmax(1fr, 4rem);
  grid-auto-columns: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "narratif_lib . lienICSR_lib lienICSR ."
    "narratif narratif narratif narratif narratif";
}

#container_eval {
  width: 100%; /* Prend toute la largeur disponible */
  margin-top: 20px; /* Espace au-dessus de la div */
}












.NumEUDRA_CT_lib {
  @include m.lst-susar-lib(NumEUDRA_CT_lib);
}
.NumEUDRA_CT {
  @include m.lst-susar-contenu(NumEUDRA_CT);
}

.Sender_lib {
  @include m.lst-susar-lib(Sender_lib);
}
.Sender {
  @include m.lst-susar-contenu(Sender);
}

.PaysSurvenue_lib {
  @include m.lst-susar-lib(PaysSurvenue_lib);
}
.PaysSurvenue {
  @include m.lst-susar-contenu(PaysSurvenue);
}

.seriousness_lib {
  @include m.lst-susar-lib(seriousness_lib);
}
.seriousness {
  @include m.lst-susar-contenu(seriousness);
}

.Prio_lib {
  @include m.lst-susar-lib(Prio_lib);
}
.Prio {
  @include m.lst-susar-contenu(Prio);
}

.SamsMono_lib {
  @include m.lst-susar-lib(SamsMono_lib);
}
.SamsMono {
  @include m.lst-susar-contenu(SamsMono);
}

.id_susar_lib {
  @include m.lst-susar-lib(id_susar_lib);
}
.id_susar {
  @include m.lst-susar-contenu(id_susar);
}

.population_lib {
  @include m.lst-susar-lib(population_lib);
}  
.population {
  @include m.lst-susar-contenu(population);
}  

.age_lib {
  @include m.lst-susar-lib(age_lib);
}  
.age {
  @include m.lst-susar-contenu(age);
}  

.sex_lib {
  @include m.lst-susar-lib(sex_lib);
}  
.sex {
  @include m.lst-susar-contenu(sex);
}  

.Eval_lib {
  @include m.lst-susar-lib(Eval_lib);
}
.Eval {
  @include m.lst-susar-contenu(Eval);
}

.DMM_lib {
  @include m.lst-susar-lib(DMM_lib);
}
.DMM {
  @include m.lst-susar-contenu(DMM);
}

.Pole_lib {
  @include m.lst-susar-lib(Pole_lib);
}
.Pole {
  @include m.lst-susar-contenu(Pole);
}

.DtGateway_lib {
  @include m.lst-susar-lib(DtGateway_lib);
}
.DtGateway {
  @include m.lst-susar-contenu(DtGateway);
}

.CaseVersion_lib {
  @include m.lst-susar-lib(CaseVersion_lib);
}
.CaseVersion {
  @include m.lst-susar-contenu(CaseVersion);
}

.WW_id_lib {
  @include m.lst-susar-lib(WW_id_lib);
}
.WW_id {
  // @include m.lst-susar-grid-droite-contenu(WW_id);
  @include m.lst-susar-contenu-scroll(WW_id);
}

.tab_suspect_drug {
  // @include m.lst-susar-contenu(tab_suspect_drug);
  grid-area: tab_suspect_drug;
  border: 1px solid;
}

.tab_reaction_PT {
  // @include m.lst-susar-contenu(tab_suspect_drug);
  grid-area: tab_reaction_PT;
  border: 1px solid;
}

.tab_med_hist {
  // @include m.lst-susar-contenu(tab_suspect_drug);
  grid-area: tab_med_hist;
  border: 1px solid;
}


/******************************************************************/
/*** tables médicament, effet indésirable, antécédents médicaux ***/
/******************************************************************/
.table-sticky {
    overflow-x: auto; /* Permet le défilement horizontal */
    display: block; /* Nécessaire pour activer le scroll */
    max-width: 100%; /* Limite la largeur du tableau */
}

.table-sticky th,
.table-sticky td {
    white-space: nowrap; /* Empêche le contenu de passer à la ligne */
    // min-width: 150px;
    padding: 8px 12px; /* Ajoute un espacement interne (padding) */
    text-align: left; /* Aligne le texte à gauche (optionnel) */
    border: 1px solid #ddd; /* Ajoute une bordure pour mieux séparer les colonnes */
}

.sticky-column {
    position: sticky;
    left: 0; /* Fixe la colonne à gauche */
    z-index: 2; /* Assure que la colonne reste au-dessus des autres */
    background: rgba(255, 255, 255, 0.95); /* Ajoute un fond pour la colonne sticky */
    border-right: 1px solid #ddd; /* Ajoute une bordure pour séparer la colonne */
}









/**********************/
/*** grid de gauche ***/
/**********************/
.suspectDrug_lib {
  @include m.lst-susar-grid-gauche-lib(suspectDrug_lib);
}  
.suspectDrug {
  @include m.lst-susar-grid-gauche-contenu-tbl(suspectDrug);
}  

.PT_outcome_lib {
  @include m.lst-susar-grid-gauche-lib(PT_outcome_lib);
}  
.PT_outcome {
  @include m.lst-susar-grid-gauche-contenu-trbl(PT_outcome);
}  

.indication_lib {
  @include m.lst-susar-grid-gauche-lib(indication_lib);
}  
.indication {
  @include m.lst-susar-grid-gauche-contenu-trbl(indication);
}  

.medicalHistory_lib {
  @include m.lst-susar-grid-gauche-lib(medicalHistory_lib);
}  
.medicalHistory {
  @include m.lst-susar-grid-gauche-contenu-trbl(medicalHistory);
}  

/**********************/
/*** grid de droite ***/
/**********************/

.idSusar {
  grid-area: idSusar;
  text-align: right;
  color: gray;
  font-size: 0.8em;
}  






.numBNPV_lib {
  @include m.lst-susar-grid-droite-lib(numBNPV_lib);
}
.numBNPV {
  @include m.lst-susar-grid-droite-contenu(numBNPV);
}

.FU_BNPV_lib {
  @include m.lst-susar-grid-droite-lib(FU_BNPV_lib);
}
.FU_BNPV {
  @include m.lst-susar-grid-droite-contenu(FU_BNPV);
}

.DMM_Pole_lib {
  @include m.lst-susar-grid-droite-lib(DMM_Pole_lib);
}
.DMM_Pole {
  @include m.lst-susar-grid-droite-contenu(DMM_Pole);
}

.DtAiguil_lib {
  @include m.lst-susar-grid-droite-lib(DtAiguil_lib);
}
.DtAiguil {
  @include m.lst-susar-grid-droite-contenu(DtAiguil);
}

.DtEval_lib {
  @include m.lst-susar-grid-droite-lib(DtEval_lib);
}
.DtEval {
  @include m.lst-susar-grid-droite-contenu(DtEval);
}

.SponsStudyNum_lib {
  @include m.lst-susar-grid-droite-lib(SponsStudyNum_lib);
}
.SponsStudyNum {
  @include m.lst-susar-grid-droite-contenu(SponsStudyNum);
}

.StudyTittle_lib {
  @include m.lst-susar-grid-droite-lib(StudyTittle_lib);
}
.StudyTittle {
  @include m.lst-susar-grid-droite-contenu(StudyTittle);
}


.ConcluCas_lib {
  @include m.lst-susar-grid-droite-lib(ConcluCas_lib);
}
.ConcluCas {
  @include m.lst-susar-grid-droite-contenu(ConcluCas);
}

.CommentConclu_lib {
  @include m.lst-susar-grid-droite-lib(CommentConclu_lib);
}
.CommentConclu {
  @include m.lst-susar-grid-droite-contenu(CommentConclu);
}

.lienICSR_lib {
  @include m.lst-susar-grid-droite-lib(lienICSR_lib);
}
.lienICSR {
  @include m.lst-susar-grid-droite-contenu(lienICSR);
}

.narratif_lib {
  @include m.lst-susar-grid-gauche-lib(narratif_lib);
}
.narratif {
  @include m.lst-susar-grid-droite-contenu(narratif);
  height: 6em; /* On fixe la hauteur à 5 fois la hauteur d'une ligne de texte */
  overflow-y: auto; /* Affichage un ascenseur vertical si le contenu dépasse la hauteur */
}

/**********************/
/****** boutons *******/
/**********************/
.btn-FU {
  grid-area: btn-FU;
}

.btn-AWA {
  grid-area: btn-AWA;
}

.btn-DetEval {
  grid-area: btn-DetEval;
}

.btn-gray {
  background-color: #cccccc;
  color: #333333;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-gray:hover {
  background-color: #aaaaaa;
}

.btn-access {
  background-color: #d3d3d3;
  color: #000000;
  border: 1px solid #808080;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #808080;
}

.btn-access:hover {
  background-color: #e3e3e3;
}

.btn-access:active {
  background-color: #c3c3c3;
  box-shadow: 0px 0px 0px #808080;
}
