


{% block body %}
    {% if form is defined %}
        <div>
            <h1 style="text-align: center;">Symfony UX - toggle password</h1>
        </div>
        <div style="margin-left: 20px; margin-right: 20px;">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}